@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.buy-products-page {
    background-color: #d8f3dc;
    font-family: 'Roboto', sans-serif;
}


.buy-products-container {
    display: flex;
   justify-content: center;
    align-items: center;

}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.ad-container {
    box-sizing: border-box;
    margin: 1.5rem;
    width: 21rem;
    height: 24rem;
    background: #ffffff;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.image-div {
    width: 20.7rem;
    height: 15rem;
}

.card-image-1 {
  
    width: 20.67rem;
    height: 15rem;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;   
}



.info-box {
    padding: 15px;
    
}


.ad-product-info {

    display: flex;
    justify-content: center;
    align-items: center;

}


.ad-product-info h2 {
    margin: 0;
}

.ad-product-info p {
    margin: 0;
}


.info-button {
    background-color: #d8f3dc;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    padding: 7px;
    width: 33%;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    border: solid 2px black
}

@media all {
    .buy-products-container {
        display: flex;
        flex-wrap: wrap;
    }
}