@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



.product-detail-page- {
    background-color: #d8f3dc;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.pro-article- {
    width: 32rem;
    margin: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
}


.header-details- {
    margin: 20px;
    padding: 10px;
    font-size: 35px;
}


.product-type- {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
  
}

.product-quantity- {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
    width: 10rem;
    
}

.product-price- {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
    width: 10rem;
    
}

.product-description- {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
    
}

.product-place- {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
    
}

.product-number {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
    
}


.buttons- {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-button- {
    background-color: #15b097;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 7px;
    padding: 7px;
    width: 16rem;
    border-radius: 12px;
    border: none;

}

